{{ partial "header" . }}

<body id="" class="page-template-page-fullsingle-post">

        {{ partial "navigation" . }}

        <main role="main" class="container">

            <div class="row">
                <div class="col-md-8 blog-main">
                    <h2>{{ .Title }}</h2>
    
                    {{ range (.Paginator 5).Pages }} {{ partial "list-item" . }} {{ end }}
    
                    {{ partial "paginator" . }}
                
                </div>
                <aside class="col-md-4">
                    {{ partial "linkedin" . }}    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLWUppC3zV3KIzdEsIc-tbrPws_WiO0E-3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
                </aside>
            </div>
            
        </main>
        

</body>


{{ partial "footer" . }}
