{{ partial "header" . }}

<body id="" class="page-template-page-fullsingle-post">

        {{ partial "navigation" . }}

        <main role="main" class="container">

            <div class="row">
                <div class="col-md-8 blog-main">
                    <h2>#work</h2>
    
                    {{ range (.Paginator 5).Pages }} 
                    
                    <div class="item">

                        
                        {{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") | $.Scratch.Set "subtitle" }}
                        {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
                    
                        <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
                        <h6>{{ $.Scratch.Get "subtitle" }}    </h6>
                        
                        <p>
                            {{ .Summary }}
                        </p>

                        {{ range .Params.tags }}
                        <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">
                            
                            <span class="badge badge-secondary">{{ . }}</span>
                        </a>
                        {{ end }}
                        <hr>
                    
                    </div>
                    
                    
                    {{ end }}
    
                    {{ partial "paginator" . }}
                
                </div>
                <aside class="col-md-4">
                    {{ partial "linkedin" . }}    
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLWUppC3zV3KIzdEsIc-tbrPws_WiO0E-3" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
                </aside>
            </div>
            
        </main>
        

</body>


{{ partial "footer" . }}
