{{ partial "header" . }}

<body id="" class="page-template-page-fullsingle-post">

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">            
            <a href="/">Glyn Darkin</a>
        </h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="#">#work</a>
            <a class="p-2 text-dark" href="#">#make</a>
            <a class="p-2 text-dark" href="#">#do</a>
        </nav>
    </div>

    <main role="main" class="container">

        <div class="row">
            <div class="col-md-10">
                {{ partial "list-item" . }}
                <div class="text-justify">{{ .Content }}</div>
            </div>
        </div>

    </main>
</body>

{{ partial "footer.html" . }}
