<!DOCTYPE html>
<html lang="en-US">

<head>

	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	
	<!-- SEO -->
	<title>{{ .Title }}</title>
	<meta name="description" content="{{ markdownify .Site.Params.Description }}" />
	<meta name="robots" content="index, follow" />
	<meta name="referrer" content="always" />

	<!-- Social & Open Graph -->
	<meta property="og:title" content="Glyn Darkin - This is me" />
	<meta property="og:description" content="{{ markdownify .Site.Params.Description }}" />
	<meta property="og:image" content="http://glyndarkin.co.uk/bck.jpg"> <!-- include your hosted image full URL -->
	<meta property="og:url" content="http://glyndarkin.co.uk" />
	<meta name="twitter:title" content="Glyn Darkin - This is me" >
	<meta name="twitter:description" content="{{ markdownify .Site.Params.Description }}" />
	<meta name="twitter:image" content="http://glyndarkin.co.uk/bck.jpg" /> <!-- include your hosted image full URL -->
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@glyndarkin" />

	<!-- Favicon -->
	<link rel="icon" type="image/png" href="images/favicon.png" sizes="32x32">

	<!-- Styles -->
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	
	{{ partial "css" . }}
	
	{{ if .Site.GoogleAnalytics }}
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.GoogleAnalytics }}"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments)};
          gtag('js', new Date());

          gtag('config', '{{ .Site.GoogleAnalytics }}');
        </script>
        {{ end }}
</head>
