{{ partial "header" . }}

<body id="fullsingle" class="page-template-page-fullsingle-me">

<div class="fs-me">

	<!-- Content Container -->
	<div class="me-content">

		<div class="bio">
			
			<h1>{{ markdownify .Site.Params.Description }}
				<br/> 
				{{ if .Site.Menus.main }}
                       
                            {{ range sort .Site.Menus.main }}
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            {{ end }}
                       
                {{ end }}
			</h1>

		</div>

		

	</div>

</div>

</body>

{{ partial "footer" . }}
