
@import url("https://use.typekit.net/fsn8ynd.css");



body {
    background-color: #fafafa;
    font-family: baskerville-display-pt, serif;
  font-weight: 400;
  font-style: normal;
}
  

/*
 * Blog posts
 */
 
img[src$='#center']
{
    display: block;
    margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                            whatever floats your boat, but keep the
                            horizontal 'auto' for this to work */
    /* whatever else styles you fancy here */
}

img[src$='#floatleft']
{
    float:left;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

img[src$='#floatright']
{
    float:right;
    margin: 0.7rem;      /* this margin is totally up to you */
    /* whatever else styles you fancy here */
}

iframe{
  display: block;
  margin: 0.7rem auto; /* you can replace the vertical '0.7rem' by
                          whatever floats your boat, but keep the
                          horizontal 'auto' for this to work */
  /* whatever else styles you fancy here */
}

blockquote{
  padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
}


div#instafetch{
    padding-top: 20px;
}

div#instafetch figure {
    margin:0px;
}

div#instafetch img {
    width: 80%;
}
